<br><br>
<div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-4">
            <h2>About Me</h2>
            <img src="images/about/about.png" class="w-100 rounded" />
        </div>
        <div class="col col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-4">
            <h2>&nbsp</h2>
            <p>Hello, I'm Siddhesh Deshpande. I have completed my Engineering in Computer Science
                from Mumbai University. After that I have been working as a backend developer for 3 years.</p>

            <p><strong>Hobbies: </strong>Playing harmonium and Indian classical music.</p>

            <p><strong>Experience: </strong>I am a Java backend developer with 3 years of experience primarily with
                Spring and SQL.</p>
            <p><strong>Journey developing this website: </strong>Front end tech stack is new to me and it was a great
                experience learning the basics of HTML, CSS and Bootstrap. I have especially enjoyed learning to use
                Bootstrap to build responsive websites. Also it is rewarding to see the website deployed and accessible
                from internet.</p>

            <p>I hope to continue this learning journey to become a full stack developer.</p>
        </div>
    </div>
</div>
<br><br>