<div id="aboutSection" class="container-fluid mt-5">
    <div class="row justify-content-center footer">
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12">
            <br>
            <h5>Travel Odisha</h5>
            <hr>
            <p>Welcome to Travel Odisha, your gateway to unforgettable travel experiences. We offer personalized
                travel services, from guided tours to bespoke itineraries, all with a commitment to responsible and
                sustainable tourism. Our experienced team ensures a seamless and enriching journey tailored to your
                unique interests. Explore the world with us, where your travel dreams become reality.
            </p>
        </div>
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12">
            <br>
            <h5>Contact</h5>
            <hr>
            <p><strong>Phone:</strong> 9876543210<br>
                <strong>Email:</strong> travel.odisha@test.com</p>
        </div>
    </div>
</div>