<div class="container-fluid">

    <br>
    <div class="row justify-content-center">
        <div class="col col-xl-10 col-lg-12">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0"
                        class="active"></button>
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="images/main/lingraj.jpg" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bhubaneswar</h5>
                            <p>Lingraj temple complex</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="images/main/konark.jpg" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Konark</h5>
                            <p>Konark sun temple</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="images/main/jagn.jpg" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Puri</h5>
                            <p>Jaggnath temple</p>
                        </div>
                    </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>

    <br><br>
    <div class="row justify-content-center">
        <div class="col col-lg-10 col-md-12 col-sm-12">
            <h2>Why visit Odisha</h2>
            <p>Odisha is a state located in eastern India that offers a variety of attractions and experiences for
                travelers. Whether you are looking for natural beauty, cultural heritage, spiritual bliss, or
                adventure, Odisha has something for everyone.</p>
        </div>

    </div>

    <br><br>
    <div class="row justify-content-center">
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12 ">
            <h4>Temples, History and Art</h4>
            <p>One of the main reasons to visit Odisha is its ancient and magnificent temples, which showcase the
                rich history and art of the region. Odisha is home to some of the most revered and spectacular
                temples in India, such as the Jagannath Temple in Puri, the Konark Sun Temple, and the Rajarani
                Temple in Bhubaneswar. These temples are not only places of worship, but also architectural marvels
                that display intricate carvings, sculptures, and designs. The Jagannath Temple, for instance, is one
                of the four holy places of the Char Dham pilgrimage for Hindus, and is famous for its annual Rath
                Yatra festival, where millions of devotees pull the chariots of the deities. The Konark Sun Temple,
                on the other hand, is a UNESCO World Heritage Site, and is a stunning example of the Odisha style of
                temple building. The temple is shaped like a giant chariot, with twelve pairs of wheels and seven
                horses, and is dedicated to the sun god Surya. The Rajarani Temple, also known as the love temple,
                is a 10th-century temple that is a symbol of the Tantric cult that flourished in Odisha.</p>
        </div>
        <div class="col col-lg-5 col-md-6 col-12">
            <br><br>
            <img src="images/main/Mukteswar.jpg" style="width: 100%; object-fit: cover;">
        </div>
    </div>

    <br>
    <hr><br>
    <div class="row justify-content-center">
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12 order-md-1 order-sm-2 order-2">
            <br><br>
            <img src="images/main/Chilika_Lake.jpg" style="width: 100%; object-fit: cover;">
        </div>
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12 order-md-2 order-sm-1 order-1">
            <h4>Nature</h4>
            <p>Another reason to visit Odisha is its natural beauty, which ranges from beaches, lakes, waterfalls,
                and
                forests. Odisha has a long coastline of 500 km, and boasts of some of the most beautiful and serene
                beaches in India. Some of the popular beaches are Puri Beach, Gopalpur Beach, Chandipur Beach, and
                Balighai Beach, where you can enjoy the golden sands, the blue waters, and the local cuisine. Odisha
                is
                also blessed with some of the largest and most scenic lakes in India, such as Chilika Lake, Ansupa
                Lake,
                Hirakud Dam, and Satkosia Gorge. Chilika Lake is the largest brackish water lake in Asia, and is a
                paradise for bird watchers and nature lovers. The lake is home to a variety of migratory and
                resident
                birds, such as flamingos, pelicans, cranes, and storks, as well as dolphins, crabs, prawns, and
                fish.
                You can take a boat ride on the lake and visit the islands, such as Nalabana, Kalijai,
                and enjoy the scenic views and the wildlife. Odisha also has some of the most spectacular waterfalls
                in
                India, such as Barehipani, Joranda, Khandadhar, and Duduma, which offer a refreshing and soothing
                experience. Odisha is also rich in forest and wildlife, and has some of the best national parks and
                sanctuaries in India, such as Bhitarkanika, Simlipal, Nandankanan, and Satkosia. These parks and
                sanctuaries are home to a diverse range of flora and fauna, including tigers, leopards, elephants,
                crocodiles, turtles, deer, monkeys, and birds. You can go for a safari, a trek, a camping, or a
                picnic,
                and witness the beauty and diversity of nature.</p>
        </div>
    </div>

    <br>
    <hr><br>
    <div class="row justify-content-center">
        <div class="col col-lg-5 col-md-6 col-sm-12 col-12">
            <h4>Culture and festivals</h4>
            <p>A third reason to visit Odisha is its culture and festivals, which reflect the vibrant and colorful
                spirit of the people. Odisha is a land of festivals, and celebrates various occasions throughout the
                year with zeal and enthusiasm. Some of the famous festivals are Rath Yatra, Durga Puja, Konark Dance
                Festival, Bali Jatra, Chandan Yatra, and Makar Sankranti. These festivals are marked by rituals,
                processions, dances, music, and food, and showcase the traditions and customs of the region. Odisha
                is also known for its arts and crafts, which are unique and exquisite. Some of the famous arts and
                crafts are Pattachitra, Applique, Silver Filigree, Stone Carving, Dhokra, and Sambalpuri Saree.
                These arts and crafts are made by skilled artisans, who use natural materials, colors, and
                techniques, and create beautiful and intricate products. You can buy these products as souvenirs, or
                admire them in the museums and galleries.</p>
        </div>
        <div class="col col-lg-5 col-md-6 col-sm-12">
            <br><br>
            <img src="images/main/Rath_Yatra_Pur.jpg" style="width: 100%; object-fit: cover;">
        </div>
    </div>

    <br><br>
</div>