<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
        <span class="navbar-brand">
            <img src="/images/main/logo.svg" alt="Bootstrap" width="40" height="40">
        </span>
        <h3 style="margin-top: 5px;" class="white-text" href="#">Travel Odisha</h3>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsingNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsingNav">
            <ul style="margin-top: 5px; margin-left: 10px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="navHome" class="nav-link white-text" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle white-text" href="#" role="button" data-bs-toggle="dropdown">
                        Tours
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/tours/lake.html">Chilika Lake</a></li>
                        <li><a class="dropdown-item" href="/tours/konark.html">Konark and light show</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="navAboutUs" class="nav-link white-text" href="#aboutSection">About us</a>
                </li>
            </ul>
            <button class="btn btn-dark" type="submit">Login</button>
        </div>
    </div>
</nav>