<div class="container-fluid">
    <br>
    <h2>Boating in Chilika lake</h2>
    <br>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../images/Lake/lake1.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/lake2.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/lake7.jpg" class="w-100 shadow-1-strong rounded mb-4" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../images/Lake/lake3.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/lake4.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/lake8.jpg" class="w-100 shadow-1-strong rounded mb-4" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../images/Lake/lake5.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/lake6.jpg" class="w-100 shadow-1-strong rounded mb-4" />

            <img src="../images/Lake/beach1.jpg" class="w-100 shadow-1-strong rounded mb-4" />
        </div>
    </div>

    <br><br>
    <div class="row justify-content-center">

        <div class="col col-12 col-md-12 col-lg-10 col-xl-9">
            <p>Chilika lake is the largest brackish water lagoon in Asia and the second largest coastal lagoon in the
                world,
                covering an area of over 1,100 square kilometres. It is a UNESCO World Heritage site and a paradise for
                migratory birds and wildlife lovers.</p>

            <p>If you are looking for an unforgettable experience in nature, Chilika lake is the perfect destination for
                you.
                You will enjoy a variety of activities such as:</p>

            <ul>
                <li><strong>Dolphin spotting</strong>: Chilika lake is home to the endangered Irrawaddy dolphins, which
                    can be
                    seen in their natural habitat. You will take a boat ride to the Satapada area, where the lake meets
                    the Bay
                    of Bengal, and watch these graceful creatures swim and play.</li>
                <li><strong>Boating</strong>: Chilika lake offers a scenic and relaxing boating experience, where you
                    will
                    explore the different islands, channels, and creeks of the lagoon. You will also visit the Kalijai
                    temple, a
                    popular pilgrimage site located on an island in the lake.</li>
                <li><strong>Visiting sea mouth beach</strong>: Sea mouth beach is a pristine and secluded beach, where
                    the
                    Chilika lake flows into the sea. You will enjoy the views of the blue waters, the golden sand, and
                    the green
                    mangroves. You will also witness the spectacular sunset and sunrise at this beach.
                </li>
                <li><strong>Bird watching</strong>: Chilika lake is a haven for bird watchers, as it hosts more than 200
                    species
                    of birds, both resident and migratory. You will spot flamingos, pelicans, herons, egrets, storks,
                    cranes,
                    and many more. The best time to visit Chilika lake for bird watching is from November to February,
                    when
                    thousands of birds flock to the lake.
            </ul>

            <p>Chilika lake is a must-visit destination for anyone who loves nature and adventure. Book your package
                today and
                get ready to experience the beauty and diversity of Chilika lake.</p>

            <h5>Details</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Cost</th>
                        <td>Rs. 10000</td>
                    </tr>
                    <tr>
                        <th scope="row">Duration</th>
                        <td>12-14 hours</td>
                    </tr>
                    <tr>
                        <th scope="row">Pickup</th>
                        <td>Bhubaneswar/ Puri</td>
                    </tr>
                    <tr>
                        <th scope="row">Drop</th>
                        <td>Bhubaneswar/ Puri</td>
                    </tr>
                    <tr>
                        <th scope="row">Food included</th>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary">Add to cart</button>
            <br><br>
        </div>
    </div>


</div>